// Define variables for your color scheme

// bootstrap color scheme

$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #f07407;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// personal color scheme

$eggplant: #754668;
$sinas: #f99c4b;
$courgette: #074c0f;
$logo: #1E6727;
$salad: #4DAA57;
$cabbage: #B5DDA4;
$squash: #F9ECCC;
