.container-cookbook {
  display: flex;
  // margin: 34px;
  margin-top: 10px;
}

.container-form {
  margin: 34px;
}
.index-layout-cookbook {
  display: grid;
  grid-template-columns: 2.3fr 0.7fr;
  flex-grow: 1;
  padding: 14px;
  padding-left: 1px;
  padding-right: 1px;
  column-gap: 10px;
  row-gap: 15px;
}

.inventory {
  margin: 34px;
  // position: sticky;
}

.table {
border: 1px solid;
width: 100%;
}

th td {
  text-align: left;
  border: 1px solid;
}
