// Specific CSS for your home-page

.banner {
  background-image: linear-gradient(to bottom, rgba(219, 248, 218, 0.5), rgba(117, 19, 93, 0.2)),
  url('banner-courgette.jpg');
  background-repeat: no-repeat;
  //background-attachment: fixed;
  object-fit: cover;
  background-size: cover;
  padding: 250px 0;
  margin-top: -2vw;
}

.container-banner {
  margin-top: 50px;
  margin-left: 50px;

}
.banner h1 {
  margin: 0;
  font-family: $h1-font;
  color: $courgette;
  background: -webkit-linear-gradient( #074c0f, #9c1a9c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  //text-shadow: 1px 1px 5px rgba(180, 113, 180, 0.8);
  font-size: 70px;
  font-weight: bold;
  padding-bottom: 10px;

}

.banner h2 {
  font-size: 25px;
  font-family: $h2-font;
  //font-weight: bold;
  color: rgb(20, 0, 34);
  text-shadow: 2px 2px 5px rgba(49, 141, 12, 0.8);
  padding-bottom: 20px;

}

.has-search .form-control {
  padding-left: 2.375rem;
  max-width: 600px;
  border-radius: 50px;
}

.form-control {
  background-color: rgb(255, 253, 224);
  color: $eggplant;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: $eggplant;
}
