// Import page-specific CSS files here.
@import "home";
@import "cookbook";
@import "show";
@import "show-myrecipe";

body {
  margin-top: 4vw;
}

a {
  color: $eggplant;
  text-decoration: none;
}

a:hover {
  color: $courgette;
}

#filter {
  color: $eggplant;
  opacity: 0.8;
  text-align: center;
  font-size: 15px;
  font-family: $body-font;
}

.container-index {
  display: flex;
}

.index-layout {
  display: grid;
  grid-template-columns: 0.7fr 2.3fr;
  flex-grow: 1;
  padding: 14px;
  padding-left: 1px;
  column-gap: 10px;
  row-gap: 15px;
}


.search-card {
  #form {
    background-color: rgb(213, 225, 213);
    height: 44px;
    width: 100%;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
  }

   #query {
    all: unset;
    font: 16px system-ui;
    color: $courgette;
    height: 100%;
    padding: 6px 15px;
    width: 100%;
  }

  ::placeholder {
    color: $courgette;

  }

  button {
    all: unset;
    cursor: pointer;
    height: 44px;
  }

  i {
    color: $courgette;
    height: 30px;
    padding-right: 10px;
    padding-top: 8px;
  }
}

.current-search {
  padding-top: 10px;
  width: 100%;

  p {
    color: $eggplant;
    text-align: center;
    font-size: 15px;
    font-family: $body-font;
  }

  h2 {
    padding-bottom: 8px;
    font-family: $h2-font;
    text-align: center;
    color: $eggplant;
    font-size: 20px;
    font: bold;
  }
}

.current {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2px;
  row-gap: 2px;
  width: 100%;


  .ingr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid rgb(213, 225, 213);
    border-radius: 50px;
    padding-left: 10px;
    justify-items: end;
    width: 100%;
  }
 p {
  margin: 0px;
  justify-content: start;
  font-family: $body-font;
  }

  i {
    color: $eggplant;
    height: 10px;
    padding-top: 4px;
  }
}

.dietary {
  margin-top: 10px;
  text-align: center;

  h2 {
    color: $eggplant;
    font-family: $h2-font;
    font-size: 20px;
    font: bolder;
  }

  .box {
    display: grid;
    grid-template-columns: 0.3fr 1.7fr;
    padding-left: 10px;
    justify-items: start;
    color: $logo;
    border: 1px solid rgb(213, 225, 213);
    border-radius: 50px;
    row-gap: 4px;

    p {
      align-items: flex-start;
      font-size: 15px;
      font-family: $body-font;
    }
  }
}

.your-list {
  padding-top: 10px;
  text-align: center;
  h2{
    color: $eggplant;
    font-family: $h2-font;
    font-size: 20px;
  }
}

.items {
  p {
    font-family: $body-font;
    color: $eggplant;
  }
}

//  for the pop up
.button1 {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button1:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

// @media screen and (max-width: 700px){
//   .box{
//     width: 70%;
//   }
//   .popup{
//     width: 70%;
//   }
// }
