// Import page-specific CSS files here.
@import "home";
@import "cookbook";
@import "show";
@import "show-myrecipe";

body {
  margin-top: 4vw;
}
h2 {
color: $eggplant;
font-family: $h2-font;
}

a {
  color: $eggplant;
  text-decoration: none;
}

a:hover {
  color: $courgette;
}

#filter {
  color: $eggplant;
  opacity: 0.8;
  text-align: center;
  font-size: 15px;
  font-family: $body-font;
}

.container-index {
  display: flex;
}

.index-layout {
  display: grid;
  grid-template-columns: 0.7fr 2.3fr;
  flex-grow: 1;
  padding: 14px;
  padding-left: 1px;
  column-gap: 10px;
  row-gap: 15px;
}


.search-card {
  #form {
    background-color: rgb(213, 225, 213);
    height: 44px;
    width: 100%;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
  }

   #query {
    all: unset;
    font: 16px system-ui;
    color: $courgette;
    height: 100%;
    padding: 6px 15px;
    width: 100%;
  }

  ::placeholder {
    color: $courgette;

  }

  button {
    all: unset;
    cursor: pointer;
    height: 44px;
  }

  i {
    color: $courgette;
    height: 30px;
    padding-right: 10px;
    padding-top: 8px;
  }
}

.current-search {
  padding-top: 10px;
  width: 100%;

  p {
    color: $eggplant;
    text-align: center;
    font-size: 15px;
    font-family: $body-font;
  }

  h2 {
    padding-bottom: 8px;
    font-family: $h2-font;
    text-align: center;
    color: $eggplant;
    font-size: 20px;
    font: bold;
  }
}

.current {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2px;
  row-gap: 2px;
  width: 100%;


  .ingr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid rgb(213, 225, 213);
    border-radius: 50px;
    padding-left: 10px;
    justify-items: end;
    width: 100%;
  }
 p {
  margin: 0px;
  justify-content: start;
  font-family: $body-font;
  }

  i {
    color: $eggplant;
    height: 10px;
    padding-top: 4px;
  }
}

.dietary {
  margin-top: 10px;
  text-align: center;

  h2 {
    color: $eggplant;
    font-family: $h2-font;
    font-size: 20px;
    font: bolder;
  }

  .box {
    display: grid;
    grid-template-columns: 0.3fr 1.7fr;
    padding-left: 10px;
    justify-items: start;
    color: $logo;
    border: 1px solid rgb(213, 225, 213);
    border-radius: 50px;
    row-gap: 4px;

    p {
      align-items: flex-start;
      font-size: 15px;
      font-family: $body-font;
    }
  }
}

.your-list {
  padding-top: 10px;
  text-align: center;
  h2{
    color: $eggplant;
    font-family: $h2-font;
    font-size: 20px;
  }
}

.items {
  p {
    font-family: $body-font;
    color: $eggplant;
  }
}

.no-recipes {
  margin-top: 45px;
  text-align: center;
}

.hide {
  display: none;
}
