.container-show {
  margin-top: 19px;
  color: $eggplant;
  display: flex;

  h2{
    margin-bottom: 16px;
    font-size: 25px;
  }

  p{
    color: $courgette;
    text-align: center;
  }
}

.show {
  display: grid;
  grid-template-columns: 0.7fr 2.5fr;
  flex-grow: 2;
  padding-left: 0px;
  column-gap: 20px;
}
.show-recipe {
  margin-left: 38px;
  i {
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  h1 {
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 1rem;
    font-family: $h1-font;
  }
}

.card-list {
  position: sticky;
  top: 0;
  border: 1px solid rgb(213, 225, 213);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding-right: 12px;
  padding-left: 5px;
  margin-left: 0px;
  padding-top: 10px;
  overflow: visible;

  h2 {
    //position: sticky;
    //top: 0;
    text-align: center;
    margin-bottom: 20px;
    //border: 1px solid $eggplant;
    border-radius: 4px;
    background-color: $salad;
  }

  li {
    line-height: 0.9;
    //position: sticky;
    //top: 0;
  }

  .list_ingredients {
    margin-bottom: 40px;
    position: sticky;
    top: 0;
  }
}

.recipe {

  img {
    border-radius: 4px;
  }

  h1 {
    display: flex;
  }

  li {
    line-height: 2;
  }

  .btn-nrm {
    margin-top: 10px;
    width: fit-content(20em);
  }
}

.icon-show {
  display: flex;
}


@media screen and (max-width: 884px) {
  .container-show {
    margin-top: 40px;
  }
  .show {
    column-gap: 10px;
    margin-top: 5px;
    margin-left: 5px;
  }

  .card_list {
    width: 25vw;
  }
}

@media screen and (max-width: 428px) {
  .container-show {
    margin-top: 40px;
  }
  .show {
    column-gap: 5px;
    margin-top: 5px;
  }

  .show-recipe {
    margin-left: 5px;
    margin-right: 5px;
  }

  .card_list {
    width: 30vw;
    margin-left: 0px;

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 15px;
    }
  }

}
