  <div class= "container-show">
    <div class="show">
      <div class="ingredient_list">
        <h2>Ingredients</h2>

        <% @ingredients.each do |ingredient| %>
          <% ingredient.uniq.each do |ing|%>
            <ul>
              <li><%= ing.capitalize %></li>
            </ul>
          <% end %>
        <% end %>
      </div>

      <div class="show-recipe">
        <div class= "recipe">
          <h2><%= @recipe.title %></h2>
          <% if @recipe.photo.key %>
            <%= cl_image_tag @recipe.photo.key, class:"img-fluid" %>
          <% end %>
          <div>
          <i class="fa-brands fa-whatsapp"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          </div>
          <hr>
          <h2>Instructions</h2>
          <ol>
            <% @instructions.each do |instruction| %>
              <li><%= instruction %></li>
            <% end %>
          </ol>
        </div>
      </div>

    </div>

  </div>
