
<div class="container">
<h1>My cookbook</h1>

  <%= link_to "Create your own recipe", new_my_recipe_path, class:"btn btn-call" %>
  <%= link_to "Check inventory", items_path, class:"btn btn-call" %>
  <%= link_to "Back to homepage", root_path, class:"btn btn-call" %>

<h1>My inventory list</h1>
</div>
