.btn-call {
  border: 1px solid $eggplant;
  padding: 8px 24px;
  box-shadow: 0px 0px 12px -2px rgba(53, 255, 3, 0.5);
  //background: linear-gradient(to right, #7e2966, $eggplant, #7e2966);
  background-color: $eggplant;
  color: $squash;
  border-radius: 25px;
  text-decoration: none;
}

.btn-call:hover {
  background-color: $logo;
  transition: opacity 0.3s ease;
  border: 1px solid $logo;
  color: #fff;
}

.btn-nrm {
  color: $courgette;
  border: 1px solid $salad;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  text-decoration: none;
  margin-bottom: 8px;
  max-height: 45px;
  //max-width: 100%;
}

.btn-nrm:hover {
  color: $courgette;
  transition: 0.3s ease;
  border: 1px solid $courgette;
}

.btn-back {
  background-color: $eggplant;
  color: $squash;
  padding: 8px;
  border-radius: 25px;
}
.btn-back:hover {
  background-color: $courgette;
  color: $squash;
  padding: 10px;
}
.btn-popup {
  margin-top: 12px;
}
