
  .card-holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-grow: 1;
    padding: 14px;
    column-gap: 10px;
    row-gap: 15px;
    overflow-inline: scroll;
  }

  .card-recipe {
    display: grid;
    flex-grow: 1;
    padding: 14px;
    column-gap: 10px;
    row-gap: 15px;
  }

.card-recipe img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  object-fit: cover;
  height: 50vh;
  width: 100%;
}




.card-horse {
  width: 400px;
}

.card-horse .card-horse-infos {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 10px;
  //justify-content: space-around;
  font-size: 20px;
  color: white;
  font-weight: bolder;
}

.info {
  font-size: 11px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 10px;
  margin-left: 5px;
  line-height: normal;
}
