
.sticky {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-tdw {
  justify-content: space-between;
  background: rgb(204, 213, 204);
  overflow: visible;
  padding: 5px;
}

.navbar-tdw .navbar-collapse {
  flex-grow: 0;
}

.navbar-tdw .navbar-brand img {
  width: 50px;
  border-radius: 50%;
}


.container-logo {
  display: flex;
  h3{
    margin-top: 10px;
  }
}

.btn-call {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0px;
  margin-right: 10px;
}

.nav-item {
  p {
    margin-top: 8px; 
  }
}
